body{
    margin: 0;
    background-image: url(../Img/Background-WavesVB.png);
    background-repeat: norepeat;
    background-size: cover;
    overflow-x: hidden;
    
}
@font-face {
    font-family: Nunito;
    src: url(../Fonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: Alata;
    src: url(../Fonts/Alata-Regular.ttf);
}
@font-face {
    font-family: Alata;
    src: url(../Fonts/Alata-Regular.ttf);
}
html {
    scroll-behavior: smooth;
  }

.title{
    top: 13vh;
    font-family: Nunito;
    font-size: 7.5vh;
    text-align: center;
    background-color: #000020b2;
    margin: 0;
    width: 50vw;
    left: 25vw;
    height: 10vh;
    position: fixed;
    font-size: 9vh;
    color: #5c0b0b;
    
}
.triangle{
    top: 13vh;
    position: fixed;
    width: 0px;
    height: 0px;
    border-top: 5vh solid transparent;
    border-bottom: 5vh solid transparent;
    border-left: 3vw solid #000020b2;
    left: 75vw;
    padding: 0px;
}
.triangle2{
    top: 13vh;
    position: fixed;
    width: 0px;
    height: 0px;
    border-top: 5vh solid transparent;
    border-bottom: 5vh solid transparent;
    border-right: 3vw solid #000020b2;
    left: 22.08vw;
    padding: 0;
}
.subtitle{
    color: #5a0c0c;
    font-family: nunito;
    font-size: 5vh;
    position: absolute;
    margin: 0;
    background-color: #00002091;
    border-radius: 1.5vh;
    left: 0.5vw;
    padding: 0;
    width: 15vw;
    text-align: center;
    left: 42.5vw;
    right: 42.5vw;
    margin: auto;
}
#abtmeTitle{
    top: 30vh;
}
.para{
    position: absolute;
    margin: 0;
    color: white;
    font-family: Alata;
    font-size: 3vh;
}

#abtme {
    top: 43vh;
}


pallete{
    color: #BD1515;
    color: #ffffffff;
    color: #1a1a1aff;
    color: #00000d;
    color: #0a0000;
}

footer{
    font-size: 5.5vh;
    position: absolute;
    top: 400vh;
    margin: 0;
    background-color: #000016;
    border-radius: 1.5vh;
    width: 100vw;
    height: 30vh;
}

#footTitle{
    color: rgb(92, 11, 11);
    font-size: 3vw;
    font-family: Alata;
    text-align: center;
    margin: 0;
}
#topBtn{
    display: block;
    color: #333333;
    text-align: center;
    font-size: 3vh;
    width: 100vw;
    font-family: Alata;
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
}
.contactContent h3{
    display: flex;
    margin: 0;
    font-family: Alata;
    width: fit-content;
}
.contactContent{
    display: flex;
    align-items: center;
}
.contacText {
    font-size: 2.5vh;
    color: rgb(90, 12, 12);
}
.contentFooter{
    font-size: 2.5vh;
    color: rgb(51, 51, 51);
}
.phoneNumber{
    padding-right: 22.5vw;
    padding-left: 11.5vw;
}

.email{
    padding-right: 20vw;
}

.location{
    padding-right: 10vw;
}
#top{
    top: 0;
    position: fixed;
}
.highlight {
    color: #af0606;
    font-weight: bolder;
}

.topTriangle{
    backdrop-filter: blur(8px);
    z-index: 10;
    top: -10vh;
    position: fixed;
    width: 0px;
    height: 0px;
    border-top: 10vh solid transparent;
    border-bottom: 10vh solid transparent;
    border-left: 6vw solid rgba(0, 0, 49, 0.5);
    right: 0vw;
    padding: 0px;
}
.topTriangle2{
    backdrop-filter: blur(8px);
    z-index: 10;
    top: -10vh;
    position: fixed;
    width: 0px;
    height: 0px;
    border-top: 10vh solid transparent;
    border-bottom: 10vh solid transparent;
    border-right: 6vw solid rgba(0, 0, 49, 0.5);
    left: 0vw;
    padding: 0;
    clip-path: revert;
}

.rectMenu {
    z-index: 10;
    padding: 0;
    top: 0px;
    position: fixed;
    width: 87.5vw;
    height: 10vh;
    left: 6vw;
}
.menuItem{
    text-decoration: none;
    z-index: 100;
    position: fixed;
    font-weight: bold;
    z-index: 100;
    font-family: Nunito;
    font-size: 5vh;
    list-style-type: none;
    color: #5c0b0b;
    display: inline;
}
ol li{
    z-index: 100;
    left: 6vw;
    right: 6vw;
}

#abtme-item{
    left: 8.5vw; 
    width: 17.5vw;
}

#work-item{
    left: 26vw;
    width: 17.5vw;
}

#educ-item{
    left: 46vw;
    width: 17.5vw;
}

#skills-item{
    left: 66vw;
    width: 17.5vw;
}

#projects-item{
    left: 81vw;
    width: 17.5vw;
} 

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width:13vw;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #005e8d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .blur{
    background-color: rgba(0, 0, 49, 0.5);
    backdrop-filter: blur(8px);
    width: 87.5vw;
    height: 10vh;
  }

#skillsTitle{
    top: 75vh;
}

table{
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 90vh;
    font-family: Nunito;
    border-collapse: collapse;
    width: 99vw;
}
.empty{
    border: 0px solid white;
}
th{
    position: relative;
    border: 0.2vw solid white;
    padding: 2.5vw;
    color: white;
    top: -5vh;
    font-size: 2vw;
}
.row1{
    border: 1px solid white;
}
